.full{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.first{
  background-color: lightpink;
  


}

.second{
  background-color: lightpink;
  
}


.third{
  background-color: lightpink
  
}

.fourth{
  background-color: lightpink;
}



