.container{
  display: flex;
  flex-direction: row;
  height: 50px;
  

}


.first-box{
  display: flex;
  flex-direction: row;
  background-color: lightblue;
  width: 100px;
  align-items:center;
  justify-content: center;
  
  
  
  
}

.item{
  background-color: black;
  color: white;
  
 
  
  
}
  


.second-box{
  background-color: lightpink;
  width: 200px;
  
  
}