.container{
  display: flex;
  height: 54px;


}
.left-section{
  background-color: lightpink;
  width: 100px;
}


.right-section{
  background-color: lightblue;
  width: 200px;
}

.right-middle{
  display: flex;
  justify-content: space-between;
}
.right-mrow{
  background-color: black;
  color: white;
  

}